<style>
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav ul {
    list-style-type: none;
    display: flex;

    li {
      min-width: 5rem;
    }
  }
</style>

<div>
  <img src="https://placehold.co/100x50">
  <span>Julien Dendauw</span>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/devdauw" target="_blank" rel="noopener noreferrer">Github</a></li>
      <li><a href="https://www.linkedin.com/in/juliendendauw/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>
  </nav>
</div>
